<footer class="footer" *ngIf="showFooter">
  <div class="footer-content">
    
    <div class="contact-info">
      <div class="phone-email">
        <p>Контактный номер: +7 (495) 380-21-53</p>
        <p (click)="copyToClipboard(post)" (mouseenter)="highlightEmail(true)" (mouseleave)="highlightEmail(false)" [style.cursor]="'pointer'">
          Почта: <span [class.highlight]="isEmailHighlighted">{{ post }}</span>
        </p>
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/logoBlack.png" alt="Логотип">
    </div>
    <div class="links">
      <a href="https://www.z-it.ru/about/" target="_blank">О нас</a>
      <a href="https://www.z-it.ru/zashchita-personalnykh-dannykh/" target="_blank">Политика конфиденциальности</a>
    </div>
  
  </div>
</footer>
