.footer {
  background-color: #f0f0f0;
  padding: 10px;
  width: 100%;
  top: auto;
  bottom: 0;
  position: fixed; 
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.contact-info, .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  width: 100px;
  height: auto;
}

.phone, .email {
  margin-bottom: 10px;
}

.links a {
  margin-top: 5px;
  text-decoration: none;
  color: #333;
}

.links a:hover {
  text-decoration: underline;
}

.highlight {
  background-color: rgb(173, 173, 173);
}