<header>
  <div class="logo">
    <a routerLink="/">
      <img src="./assets/images/logoBlack.png" alt="Логотип">
    </a>
  </div>
  <nav>
    <ul>
      <li>
        <a><button mat-button color="transparent" (click)="openSubsidiesPage()">Субсидии</button></a>
      </li>
      <li>
        <a><button mat-button color="transparent" (click)="openRoutesPage()">Маршруты</button></a>
      </li>
      <li>
        <a><button mat-button color="transparent" (click)="openInfoPage()">Справка</button></a>
      </li>
    </ul>
  </nav>
  <div *ngIf="isLoggedIn; else loggedOutButtons" class="buttons">
    <button mat-raised-button color="transparent" routerLink="/profile">Профиль</button>
    <button mat-raised-button color="warn" (click)="logout()">Выход</button>
  </div>
  <ng-template #loggedOutButtons>
    <div class="buttons">
      <button mat-raised-button color="transparent" routerLink="/registration">Регистрация</button>
      <button mat-raised-button color="primary" class="login-button" (click)="openTest()">Вход</button>
    </div>
  </ng-template>
</header>

<!-- <header>
  <div class="logo">
    <a routerLink="/">
      <img src="./assets/images/logoBlack.png" alt="Логотип">
    </a>
  </div>
  <nav>
    <ul>
      <li>
      <a><button mat-button color="transparent" (click)="openSubsidiesPage()">Субсидии</button></a>
      </li>
      <li>
      <a><button mat-button color="transparent" (click)="openRoutesPage()">Маршруты</button></a>
      </li>
      <li>
        <a><button mat-button color="transparent" (click)="openInfoPage()">Справка</button></a>
      </li>
    </ul>
  </nav>
  <div class="buttons">
    <button mat-raised-button color="transparent" (click)="openRegistrationPopup()">Регистрация</button>
    <button mat-raised-button (click)="openTest()">Вход</button>
  </div>
</header> -->