

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>flights works!</p>

<!-- <div class="flight-booking-form">
    <mat-form-field>
      <input matInput placeholder="Откуда">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Куда">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="departDatepicker" placeholder="Дата вылета">
      <mat-datepicker-toggle matSuffix [for]="departDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #departDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="returnDatepicker" placeholder="Дата возвращения">
      <mat-datepicker-toggle matSuffix [for]="returnDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #returnDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Количество пассажиров">
    </mat-form-field>
    <button mat-raised-button color="primary">Поиск</button>
  </div> -->
  