<P>Поиск субсидированных рейсов </P>
<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="text" formControlName="from" [formControl]="control" placeholder="Откуда" matInput
        [matAutocomplete]="fromAuto">
      <mat-autocomplete #fromAuto="matAutocomplete">
        @for (city of filteredCities | async; track city) {
        <mat-option [value]="city">{{city}}</mat-option>
        }
      </mat-autocomplete>
      <input type="text" formControlName="to" [formControl]="control" placeholder="Куда" matInput
        [matAutocomplete]="toAuto">
      <mat-autocomplete #toAuto="matAutocomplete">
        @for (city of filteredDepCities | async; track city) {
        <mat-option [value]="city">{{city}}</mat-option>
        }
      </mat-autocomplete>
      <mat-datepicker #picker></mat-datepicker>
      <div class="custom-datepicker-wrapper">
        <input class="custom-datepicker-input" matInput [matDatepicker]="picker" placeholder="Когда" [(ngModel)]="date"
          (dateInput)="addEvent('input', $event)" (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
      </div>
      <div class="passangersAmount">
        <input class="adultPassengers" type="number" formControlName="adultPassengers" placeholder="Взрослых">
        <input class="childPassengers" type="number" formControlName="childPassengers" placeholder="Детей">
      </div>
      <button type="submit">Поиск</button>
    </div>
  </form>
</div>
<div class="flight-list">
  <app-flight-card *ngFor="let flight of flights" [flight]="flight"></app-flight-card>
</div>