
<app-header></app-header>
<div class="max-w-2xl container mx-auto pt-5 mt-[50px]">
  <router-outlet></router-outlet>
</div>
<div class="mainContent">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <button mat-icon-button class="info-button">
      <img src="assets/images/info.svg" alt="Button Icon">
    </button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <button mat-icon-button class="flights-button">
    <img src="assets/images/flights.svg" alt="Button Icon">
  </button>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <button mat-icon-button class="routes-button">
    <img src="assets/images/route.svg" alt="Button Icon">
  </button>
</div>