@import '~bootstrap/dist/css/bootstrap.min.css';

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 150px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
}

.input-group input,
.input-group button {
  margin-right: 10px;
}