.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  li::before {
    content: "•";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #c90000; 
  }
  
  .mat-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 12px 16px;
    text-align: left;
    background-color: #6495ED; 
    color: white;
  }
  
  .mat-row:nth-child(even) {
    background-color: #888888; 
  }
  
  .mat-row:nth-child(odd) {
    background-color: #888888; 
  }
  
  .subsidiesTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .subsidiesTable th, .subsidiesTable td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .subsidiesTable th {
    background-color: #2d8ff8; 
    color: white;
  }
  
  
  .subsidiesTable tr:hover {
    background-color: #acacac; 
  }
  
  .subsidiesChildTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .subsidiesChildTable th, .subsidiesChildTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .subsidiesChildTable th {
    background-color: #2d8ff8; 
    color: white;
  }
  
  
  .subsidiesChildTable tr:hover {
    background-color: #acacac; 
  }


  .flightHistoryTable{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .flightHistoryTable th, .flightHistoryTable td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .flightHistoryTable th {
    background-color: #2d8ff8; 
    color: white;
  }
  
  
  .flightHistoryTable tr:hover {
    background-color: #acacac; 
  }
  