.references-container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 0 20px; 
  }
  
  .references-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .references-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .references-container li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .references-container li::before {
    content: "•";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
  }
  