<div class="container">
    <p>В соответствии с постановлением Правительства Российской Федерации от 25.12.2021 N 2478 каждый пассажир, имеющий
        право на субсидированную перевозку, имеет право на оформление перевозки по субсидируемому тарифу по одному из
        следующих вариантов:
    </p>
    <ul>
        <li>Не более 4 авиабилетов по маршруту «в одну сторону»</li>
        <li>Не более 2 авиабилетов по маршруту «в одну сторону» и не более 1 билета «туда и обратно»</li>
        <li>Не более 2 авиабилетов по маршруту «туда и обратно»</li>
    </ul>

    <p>
        Данное ограничение распространяется на перевозки по субсидированным маршрутам:
    </p>
    <ul>
        <li>Между Москвой и Владивостоком, Хабаровском, Петропавловском-Камчатским, Южно-Сахалинском, Магаданом,
            Якутском, Горно-Алтайском;
        </li>
        <li>Между Хабаровском и Владивостоком, Петропавловском-Камчатским, Южно-Сахалинском, Магаданом, Иркутском,
            Красноярском, Новосибирском;
        </li>
        <li>Между Владивостоком и Петропавловском-Камчатским, Южно-Сахалинском;
        </li>
        <li> Между Красноярском и Благовещенском;
        </li>
        <li>Между Санкт-Петербургом и Иркутском
        </li>
    </ul>
    <p>При обращении пассажира за приобретением авиабилетов по субсидированным маршрутам сверх установленного
        количества, в соответствии с постановлением Правительства Российской Федерации от 25.12.2021 N 2478 договор
        воздушной перевозки не подлежит заключению. В случае, если после заключения договора воздушной перевозки по
        субсидированному маршруту будет выявлено, что пассажир ранее приобрел максимально установленное количество
        билетов, договор воздушной перевозки подлежит расторжению авиакомпанией в одностороннем порядке вследствие
        нарушения пассажиром установленных законодательством Российской Федерации требований в части, касающейся
        воздушной перевозки. Расчеты между перевозчиком и пассажиром осуществляются в соответствии с действующим
        законодательством и правилами тарифа.</p>
    <p>При оформлении билета пассажир предоставляет заверение в том, что он и каждое лицо, на имя которого оформлены
        авиабилеты в бронировании имеет право на оформление билета по специальному тарифу с учетом ограничения на
        оформление каждым пассажиром в течение календарного года до 4 билетов в одном направлении или 2 билетов в
        направлении туда и обратно, или 2 билетов в одном направлении и одного билета в направлении туда и обратно на
        перевозки в течение календарного года. В случае несоответствия заверения реальным обстоятельствам пассажир
        обязуется возместить ПАО «Аэрофлот» понесенные в данной связи убытки, а также обязуется проинформировать каждого
        из лиц, указанных в бронировании, о последствиях несоблюдения установленных ограничений.</p>


</div>